// Variables
/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
$parkinsans-uniquifier-font-family: "Parkinsans", sans-serif;
$parkinsans-uniquifier-font-optical-sizing: auto;
$parkinsans-uniquifier-font-weight: 300;
$parkinsans-uniquifier-font-style: normal;
/*===== VARIABLES CSS EFECTO NEÓN =====*/

$body-color: #020318;
$text-color2: #999bc2;
$text-color-light: #FFF;

/*========== Font and typography ==========*/
$body-font: 'Poppins', sans-serif;

$biggest-font-size: 2rem;
$biggest2-font-size: 1.8rem;

$h1-font-size: 1.5rem;
$normal-font-size: 1.4rem;
$smaller-font-size: .75rem;



/*========== Box, Drop & Text Shadow ==========*/
$box-shadow-inset: inset 0 22px 56px -36px rgba(255, 255, 255, .5),
    inset 0 4px 5px -4px rgba(255, 255, 255, 1),
    inset 0 -31px 34px -32px rgba(96, 68, 144, .3),
    inset 0 39px 50px -34px rgba(202, 172, 255, .3),
    inset 0 2px 9px rgba(154, 146, 210, .3),
    inset 0 1px 10px rgba(227, 222, 255, .2);
;

$drop-shadow: 0 0 8px rgba(161, 165, 247, .8);

$text-shadow: 0 0 8px rgba(161, 165, 247, .8);

$box-shadow-inset-button: inset 0 2px 7px -9px rgba(255, 255, 255, .5),
    inset 0 1px 2px -1px rgba(255, 255, 255, 1),
    inset 0 -20px 16px -32px rgba(96, 68, 144, .3),
    inset 0 28px 25px -24px rgba(202, 172, 255, .3),
    inset 0 1px 4px rgba(154, 146, 210, .3),
    inset 0 1px 10px rgba(227, 222, 255, .2);

/*========== Box, Drop & Text Shadow Hover ==========*/
$box-shadow-inset-hover: inset 0 19px 28px -18px rgba(255, 255, 255, .5),
    inset 0 4px 6px -3px rgba(255, 255, 255, 1),
    inset 0 -51px 44px -42px rgba(96, 68, 144, .3),
    inset 0 59px 60px -32px rgba(202, 172, 255, .3),
    inset 0 4px 16px rgba(154, 146, 210, .3),
    inset 0 2px 25px rgba(227, 222, 255, .23);

$drop-shadow-hover: 0 0 14px rgba(161, 165, 247, .8);

$text-shadow-hover: 0 0 14px rgba(161, 165, 247, .8);

$box-shadow-inset-button-hover: inset 0 4px 7px -4px rgba(255, 255, 255, .5),
    inset 0 1px 2px -1px rgba(255, 255, 255, 1),
    inset 0 -20px 16px -32px rgba(96, 68, 144, .3),
    inset 0 28px 25px -20px rgba(202, 172, 255, .3),
    inset 0 1px 4px rgba(154, 146, 210, .3),
    inset 0 1px 16px rgba(227, 222, 255, .2);

/*========== Filter Blur ==========*/
$filter-blur: blur(100px);




$primary-color: #3498db;
$secondary-color: #2ecc71;
$secondary-color2: rgb(0, 255, 191);
$gray-color: #6fdba5;
$white-color: #ffffff;
$gris: #444444;
$gris2: #dbdbdb;
$negro: black;
$negro2: rgb(20, 16, 16);
$font-stack: 'Arial', sans-serif;
$degradado-cajas: rgba(68, 26, 255, 0.6);
$degradado-cajas2: rgb(23, 177, 82);

$gradiente-cajas: linear-gradient(to bottom, $degradado-cajas, $gris);
$gradiente-cajas2: linear-gradient(to bottom, $degradado-cajas2, $negro2);

$hover-background: linear-gradient(135deg, #c5c5c5, #1e1e1e);

$gradiente-body: rgb(39, 37, 48);
$font-stack: 'Arial', sans-serif;
$header-height: 80px;

$parkinsans-uniquifier-font-family: "Parkinsans", sans-serif;
$parkinsans-uniquifier-font-optical-sizing: auto;
$parkinsans-uniquifier-font-weight: 300;
$parkinsans-uniquifier-font-style: normal;