@use '../styles/variables' as *;
@use '../styles/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/*===== VARIABLES CSS EFECTO NEÓN ===== SI PONGO ESTO EN _VARIABLES NO FUNCIONA*/ 
:root{

    /*========== Colors ==========*/
    --body-color: #020318;
    --text-color2:#999bc2;
    --text-color-light: #FFF;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 2rem;
    --biggest2-font-size: 1.8rem;
    
    --h1-font-size: 1.5rem;
    --normal-font-size: 1.4rem;
    --smaller-font-size: .75rem;

    @media screen and (min-width: 1024px){
        --normal-font-size: 1rem;
    }
    
    /*========== Box, Drop & Text Shadow ==========*/
    --box-shadow-inset: inset 0 22px 56px -36px rgba(255, 255, 255, .5), 
                        inset 0 4px 5px -4px rgba(255, 255, 255, 1), 
                        inset 0 -31px 34px -32px rgba(96, 68, 144, .3), 
                        inset 0 39px 50px -34px rgba(202, 172, 255, .3), 
                        inset 0 2px 9px rgba(154, 146, 210, .3), 
                        inset 0 1px 10px rgba(227, 222, 255, .2);;

    --drop-shadow: 0 0 8px rgba(161, 165, 247, .8);

    --text-shadow: 0 0 8px rgba(161, 165, 247, .8);

    --box-shadow-inset-button: inset 0 2px 7px -9px rgba(255, 255, 255, .5), 
                               inset 0 1px 2px -1px rgba(255, 255, 255, 1), 
                               inset 0 -20px 16px -32px rgba(96, 68, 144, .3), 
                               inset 0 28px 25px -24px rgba(202, 172, 255, .3), 
                               inset 0 1px 4px rgba(154, 146, 210, .3), 
                               inset 0 1px 10px rgba(227, 222, 255, .2);

    /*========== Box, Drop & Text Shadow Hover ==========*/
    --box-shadow-inset-hover: inset 0 19px 28px -18px rgba(255, 255, 255, .5), 
                              inset 0 4px 6px -3px rgba(255, 255, 255, 1), 
                              inset 0 -51px 44px -42px rgba(96, 68, 144, .3), 
                              inset 0 59px 60px -32px rgba(202, 172, 255, .3), 
                              inset 0 4px 16px rgba(154, 146, 210, .3), 
                              inset 0 2px 25px rgba(227, 222, 255, .23);

    --drop-shadow-hover:  0 0 14px rgba(161, 165, 247, .8);

    --text-shadow-hover: 0 0 14px rgba(161, 165, 247, .8);

    --box-shadow-inset-button-hover: inset 0 4px 7px -4px rgba(255, 255, 255, .5), 
                                     inset 0 1px 2px -1px rgba(255, 255, 255, 1), 
                                     inset 0 -20px 16px -32px rgba(96, 68, 144, .3), 
                                     inset 0 28px 25px -20px rgba(202, 172, 255, .3), 
                                     inset 0 1px 4px rgba(154, 146, 210, .3), 
                                     inset 0 1px 16px rgba(227, 222, 255, .2); 

    /*========== Filter Blur ==========*/
    --filter-blur: blur(100px)
}


* {
    box-sizing: border-box;
    
}

.div-header{
    
    font-size: var(--biggest-font-size);
    text-shadow: var(--text-shadow);
    font-family: var(--body-font);
    color: var(--text-color-light);
    text-align: center;
    padding: 2rem;
    div{
        h1{
            margin-bottom: -4rem;

        }
        
    }
    h4{
        color: var(--text-color2);
        text-shadow:none;
    }
    
}
body {
    font-family: $font-stack;
    color: var(--body-color);
    margin: 0;
    padding: 0;
    background-color: $gradiente-body;
    



    #sobre-mi {
        display: flex;
        flex-direction: column;
        align-items: center; // Centrar horizontalmente el título
    
        margin: 2rem 4rem;
        padding: 2rem; 
        background: rgba(255,255,255,.01);
        color: var(--text-color-light);
        box-shadow: var(--box-shadow-inset);    
        transition: transform 0.2s ease, box-shadow 0.2s ease; 
    
        h2 {
            text-shadow: var(--text-shadow);
            
            color: var(--text-color-light);
            
            margin-top: 0rem;
            text-align: center;
            font-family: $parkinsans-uniquifier-font-family;
        }
    
        .contenido {
            
            display: flex;
            flex-direction: row; // Organiza imagen y texto en filas
            align-items: center; // Alinea verticalmente
            gap: 2rem; // Espaciado entre la imagen y el texto
            .div {
                text-align: center;
    
                img {
                    margin-top: 0rem;
                    width: 95%;
                    border-radius: 8rem;
                }
            }
    
            p {
                font-family: $parkinsans-uniquifier-font-family;               
                text-align: initial;
                font-size: 1.1rem;
                margin: 0; // Asegúrate de que el texto no tenga margen adicional
            }
        }
    
        // Efecto al hacer hover
        &:hover {
            transform: scale(1.03); // Aumentar tamaño
            box-shadow: var(--box-shadow-inset);
            z-index: 1; // Asegurarse de que el contenedor esté por encima de otros elementos
        }
    }
    @include responsive(mobile) {
        #sobre-mi {
          .contenido {
            flex-direction: column; // Cambia a columna para apilar la imagen y el texto
            .div{
                img{
                    width: 60%;
                }
            }
          }
        }
      }
      
      @include responsive(tablet) {
        #sobre-mi {
          .contenido {
            flex-direction: column; // Cambia a columna para apilar la imagen y el texto
            .div{
                img{
                    width: 35%;
                }
            }
          }
        }
      }
    


 
   
    // Sección Proyectos
    #proyectos {
        margin: 0rem;
        transition: transform 0.5s ease;//,box-shadow 0.5s ease; 
        background:transparent;
        border: none;
        border-radius: 16px;
        box-shadow: none;
        
        h2 {
            text-align: center;
            font-family: $parkinsans-uniquifier-font-family;
        }

        p {
            text-align: center;
        }

        // Efecto al hacer hover
        &:hover {
            transform: scale(1.03); // Aumentar tamaño
            
            z-index: 1; // Asegurarse de que esté por encima de otros elementos
        }
    }

    // Sección Educación
    #educacion {
        margin: 2rem 4rem;
        transition: transform 0.2s ease, box-shadow 0.2s ease; // Transiciones para hover
        font-family: $parkinsans-uniquifier-font-family;
        background: rgba(255,255,255,.01);
        color: var(--text-color-light);
        box-shadow: var(--box-shadow-inset);
        h2 {
            text-align: center;
            text-shadow: var(--text-shadow);
            font-family: var(--body-font);
            color: var(--text-color-light);
        }

        p {
            text-align: center;
            
        }

        h3 {
            color: $white-color;
            text-align: center;
            margin-top: 2.5rem;
        }

        div {
            font-size: 1.2rem;

            .span {
                font-size: 1.2rem;
            }
        }

        div {
            color: $white-color;
            margin: 2rem 2rem;

            span {
                font-weight: bold;
            }
        }

        // Efecto al hacer hover
        &:hover {
            transform: scale(1.03); // Aumentar tamaño
            box-shadow: var(--box-shadow-inset);
            z-index: 1; // Asegurarse de que esté por encima de otros elementos
        }
    }

    // Sección Redes Sociales
    #redes-sociales {
        margin: 2rem 4rem;
        transition: transform 0.5s ease; // Transiciones para hover
        background: rgba(255,255,255,.01);
        color: var(--text-color-light);
        box-shadow: var(--box-shadow-inset);

        h2 {
            text-align: center;
            text-shadow: var(--text-shadow);
            font-family: var(--body-font);
            color: var(--text-color-light);
        }

        p {
            text-align: center;
        }

        div {
            display: flex;
            justify-content: center;
            margin: 1rem 2rem;

            img {
                margin: 1rem;
                width: 3rem;
            }
        }

        // Efecto al hacer hover
        &:hover {
            transform: scale(1.03); // Aumentar tamaño
            box-shadow: var(--box-shadow-inset);
            z-index: 1; // Asegurarse de que esté por encima de otros elementos
        }
    }

    
    footer {
        background: rgba(255,255,255,.01);
        color: var(--text-color-light);
        box-shadow: var(--box-shadow-inset);
        text-align: center;
        padding: 10px;
        background-color: $secondary-color;
        color: white;
        position: relative;
        bottom: 0;
        width: 100%;
    }
   


}

.swiper-container {
    position: relative;
    width: 100%;
    max-width: 1220px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 16px;
    .swiper-wrapper {
        display: flex;
    }

    .swiper-slide {
        @include flex-center;
        flex-direction: column; // Asegúrate de que los elementos se apilen verticalmente
        text-align: center; // Centrar el texto
        
    
        h3 {
            
            font-size: var(--biggest2-font-size);
            margin-top: 6rem; // Espaciado superior
            text-shadow: var(--text-shadow);
            font-family: var(--body-font);
            color: var(--text-color-light);
            padding: 0.5rem;
            border-radius: 16px;
        }
    
        .btn {
            display: inline-block; // Permite que el botón tenga un tamaño adecuado
            margin-top: 0px; // Espaciado superior
            padding: 10px 20px; // Espaciado interno
            border: 1px solid $negro;
            background: $gradiente-cajas2;
            color: $white-color;
            text-decoration: none; // Sin subrayado
            border-radius: 1rem; // Bordes redondeados
            transition: background-color 0.3s; // Transición para el cambio de color
    
            &:hover {
                background: $gradiente-cajas; // Color de fondo al pasar el ratón
                color: $white-color;
            }
        }
    }
    // Clase para la primera diapositiva
    .slide-1 {
        box-shadow: var(--box-shadow-inset);   
        background-image: url('../assets/images/appCrypto_.png'); // Cambia esta ruta a tu imagen
        background-size: cover; // Para que la imagen cubra toda la diapositiva
        background-position: center; // Centra la imagen
        border-radius: 16px;
        width: 100%;
        height: 100%; // Asegúrate de que ocupe toda la altura de la diapositiva
        display: flex; // Para centrar el contenido
        justify-content: center; // Centrar horizontalmente
        align-items: center; // Centrar verticalmente
        color: white; // Cambiar el color del texto si es necesario
        h2{
            text-shadow: var(--text-shadow);
            font-family: var(--body-font);
            color: var(--text-color-light);
        }
        h4{
            margin-top: 6rem;
            color: $white-color;
            background: $gradiente-cajas;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
        
    }
    .slide-2{
        box-shadow: var(--box-shadow-inset);   
        background-image: url('../assets/images/Agencia_Viajes.png'); // Cambia esta ruta a tu imagen
        background-size: cover; // Para que la imagen cubra toda la diapositiva
        background-position: center; // Centra la imagen
        width: 100%;
        height: 100%; // Asegúrate de que ocupe toda la altura de la diapositiva
        display: flex; // Para centrar el contenido
        justify-content: center; // Centrar horizontalmente
        align-items: center; // Centrar verticalmente
        color: white; // Cambiar el color del texto si es necesario
        border-radius: 16px;
        h2{
            text-shadow: var(--text-shadow);
            font-family: var(--body-font);
            color: var(--text-color-light);
        }
        h4{
            margin-top: 6rem;
            color: $white-color;
            background: $gradiente-cajas;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $primary-color;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        &:hover {
            background-color: $secondary-color;
            color: white;
        }
    }

    .swiper-button-next {
        right: 10px;
    }

    .swiper-button-prev {
        left: 10px;
    }
    
}

section {
    margin: 20px;
    padding: 20px;
    background: $gradiente-cajas;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    
    
    h2 {
        color: $negro;
        font-family: $parkinsans-uniquifier-font-family;
        
    }
    p{
        color: $white-color;
    }
}



@include responsive(mobile) {
    section {
        margin: 10px;
        padding: 15px;
    }
    
.div-header{
    
    font-size: var(--normal-font-size);
    text-shadow: var(--text-shadow);
    font-family: var(--body-font);
    color: var(--text-color-light);
    text-align: center;
    padding: 2rem;
    div{
        h1{
            margin-bottom: -2.3rem;
        }
    }
    
}
    
    
}

@include responsive(tablet) {
    section {
        margin: 15px;
        padding: 18px;
    }
}

@include responsive(desktop) {
    section {
        margin: 20px;
        padding: 20px;
    }
}